@media (max-height: 600px) {
    .dashboard {
        min-height: 92.61%;
        overflow: scroll;
    }
    .properties {
        height: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 1.11%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .propertiBox {
        height: 45%;
        margin: 1.11%;
        width: 25%;
        min-width: 230px;
    }
}
@media (max-height: 500px) {
    .properties {
        height: 70%;
    }
}
@media (max-height: 430px) {
    .properties {
        height: 90%;
    }
    .yaxis-mb {
        display: none;
    }
}


@media (max-width: 1320px) {
    .dashboard {
        min-height: 92.61%;
        overflow: scroll;
    }

    .properties {
        height: 44%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 1.11%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .propertiBox {
        height: 44%;
        margin: 1.11%;
        width: 25%;
        min-width: 230px;
    }
}
@media (max-width: 730px) {
    .legend, .legendTitle{
        font-size: 14px
    }
    
}

@media (max-width: 680px) {
    .graficTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .legend, .legendTitle{
        width: 100% ;
    }
    .xaxis-mb{
        display: none;
    }
    .lineGrafic {
        padding: .2% 0 0 4%;
    }
}
@media (max-width: 547px) {
    .properties{
        overflow-y: scroll;
    }
}
@media (max-width: 480px) {
    .lineGrafic {
        padding: .2% 0 0 6%;
    }
    .grafic{
        height: 40%;
    }
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .valueProperties{
        font-size: 30px;
    }
    .propertiBox {
        margin: 2.11%;
    }
    .navbarSignOut {
        margin-bottom: 30px;
    }
    .titleProperties {
        font-size: 14px;
    }
    .legend, .legendTitle{
        font-size: 12px;
        justify-content: center;
    }
    
}
@media (max-width: 340px) {
    .lineGrafic {
        padding: .2% 0 0 8%;
    }
    .propertiBox {
        margin: 3%;
        min-width: 170px;
    }
    .valueProperties{
        font-size: 25px;
    }
    .title .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

