.properties {
    height: 27%;
    width: 100%;
    background-color: brown;
    display: flex;
}
.statusProperties svg {
    margin: 7px 7px 0 0;
}

.propertiBox {
    width: 25%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 20px 25px 40px 0 rgba(35, 38, 90, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all .1s;
}
.propertiBox:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px 20px rgba(82, 82, 82, 0.271);
}
.vendas{
    margin: 0 1.11% 0 2.22%;
}

.titleProperties {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: #5A5773;
    font-family: var(--font-mede);
    font-size: 16px;
    letter-spacing: -0.09px;
    line-height: 24px;
    margin: 0 0 0 10%
}

.vendas .titleProperties svg {
    fill: #1094FF;
}

.titleProperties p {
    margin-left: 10px;
}

.valueProperties {
    color: #5A5773;
    font-family: var(--font-black);
    font-size: 39px;
    letter-spacing: -1.46px;
    line-height: 26px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.valueProperties p {
    color: #7e7e7e;
    font-family: var(--font-bold);;
    font-size: 19px;
    letter-spacing: -0.11px;
    line-height: 24px;
    height: 100%;
    margin-right: 3px;
}

.statusProperties {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #7e7e7e;
    font-family: var(--font-bold);
    font-size: 18px;
    letter-spacing: -0.67px;
    line-height: 26px;
    text-align: left;
}

.vendas .statusProperties svg {
    fill: #00D954;
}
.faturamento .statusProperties svg {
    fill: #00D954;
}

.faturamento {
    margin: 0 1.11% 0 1.11%;
}

.faturamento .titleProperties svg {
    fill: #00D954;
}

.conversao {
    margin: 0 1.11% 0 1.11%;
}
.conversao .titleProperties svg {
    fill: #FFD610;
}
.conversao .statusProperties svg{
    margin: 0 7px 7px 0;
    fill: #D90000;
    transform: rotate(180deg);
}

.leads {
    margin: 0 2.22% 0 1.11%;
}
.leads .titleProperties svg{
    fill: #9000D9;
}
.leads .statusProperties svg{
    fill: #00D954;
}