@media (max-width: 980px) {
    :root {
        --navCloseW: 5%;
        --navOpenW: 16.49%;
        --dashOpen: 95%;
        --dashClose: 83.50%;
    }

    .settingsUser {
        width: 15.7vw;
    }
}

@media (max-width: 840px) {
    :root {
        --navCloseW: 7%;
        --navOpenW: 20.49%;
        --dashOpen: 93%;
        --dashClose: 79.50%;
    }

    .settingsUser {
        width: 20.7vw;
    }
}

@media (max-width: 720px) {
    :root {
        --navCloseW: 8%;
        --navOpenW: 25.49%;
        --dashOpen: 92%;
        --dashClose: 74.50%;
    }

    .settingsUser {
        width: 26.7vw;
    }
}

@media (max-width: 576px) {
    :root {
        --navCloseW: 10%;
        --navOpenW: 30.49%;
        --dashOpen: 90%;
        --dashClose: 69.50%;
    }
}

@media (max-width: 480px) {
    :root {
        --navCloseW: 13%;
        --navOpenW: 40.49%;
        --dashOpen: 87%;
        --dashClose: 59.50%;
    }

    .settingsUser {
        width: 33.7vw;
    }

}

@media (max-width: 400px) {
    :root {
        --navCloseW: 15%;
        --navOpenW: 40.49%;
        --dashOpen: 85%;
        --dashClose: 59.50%;
    }

    .settingsUser {
        width: 38vw;
    }

    .myPicture,
    .bars {
        margin: 0 10px;
    }
}

@media (max-width: 330px) {
    :root {
        --navCloseW: 15%;
        --navOpenW: 50.49%;
        --dashOpen: 85%;
        --dashClose: 49.50%;
    }
    .bell,
    .comment {
        display: none;
    }   
}

@media (max-height: 720px) {
    .navbarTop, .navbarLogo {
        height: 10vh;
    }
    .navbarLeft {
        height: 90vh;
    }
    .navbarOptions li {
        height: 7vh;
    }
    .settingsUser{
        height: 50vh;
        top: 10%;
    }
}
@media (max-height: 520px) {
    .navbarTop, .navbarLogo {
        height: 13vh;
    }
    .navbarLeft {
        height: 87vh;
    }
    .navbarOptions li {
        height: 8vh;
    }
    .settingsUser{
        height: 50vh;
        top: 13%;
    }
}
@media (max-height: 420px) {
    .navbarTop, .navbarLogo {
        height: 17vh;
    }
    .navbarLeft {
        height: 83vh;
    }
    .navbarOptions li {
        height: 9vh;
    }
    .settingsUser{
        height: 70vh;
        top: 18%;
    }
}