.navbarLeftAnimationClose {
    animation: navbarLeftAnimationClose .1s forwards;
}
@keyframes navbarLeftAnimationClose {
    from{width: 15.49vw;}
    to{width: 5vw;}
}

.navbarLeftAnimationOpen {
    animation: navbarLeftAnimationOpen .1s forwards;
}
@keyframes navbarLeftAnimationOpen {
    from{width: 5vw;}
    to{width: 15.49vw;}
}
