.navbarLeft {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 92.61vh;
    justify-content: space-between;
    width: 15.49vw;
    background-color: #1800f02f;
}

.navbarLeft li {
    color: #5A5773;
    font-family: var(--font-mede);
    font-size: 14px;
    letter-spacing: -0.4px;
    line-height: 24px;
    opacity: 0.5046037946428571;
    text-align: left;
    border: solid 1px black;
    height: 5.82vh;
}

.navbarLeft li:hover {
    opacity: 1;
    cursor: pointer;
}