.navbarTop {
    height: 7.39vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 12px 20px 10px rgb(84 84 84 / 10%);
}

.navbarLogo {
    height: 7.39vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px #D8D8D8;
}

.navbarLogoW {
    width: var(--navCloseW);
}

.navbarLogoClose .logoname,
.navbarLogoW .logoname {
    display: none;
}

.navbarLogo .container {
    width: 60%;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarLogo .container:hover {
    cursor: pointer;
}

.logo {
    width: 34px;
    margin: 10px;
}

.logoname {
    margin-top: 10px;
    width: 90px;
    animation: transtionOpenNavbar .1s;
}

.navbarTop2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-shadow: 20px 25px 40px 0 rgba(35, 38, 90, 0.06);

}

.navbarTop2w {
    width: var(--dashOpen);
}

.myPicture {
    border-radius: 100%;
    width: 30px;
    margin: 0 20px 0 10px;
    transition: all .1s;
}

.myPicture:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.bars {
    margin: 0 25px;
    cursor: pointer;
    fill: #5A5773;
    transition: all .1s;
}

.comment,
.bell {
    margin: 0 10px;
    cursor: pointer;
    fill: #5A5773;
    transition: all .1s;
}

.comment:hover,
.bell:hover,
.bars:hover {
    fill: black;
}

.notificationNumbers {
    background-color: #00D954;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    margin: -6px 19px;
    position: absolute;
    text-align: center;
}

.notificationNumbers p {
    width: 100%;
    height: 100%;
    font-family: var(--font-reg);
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingsUser {
    position: absolute;
    width: 13.7vw;
    height: 39.1vh;
    background-color: #fff;
    right: .4%;
    top: 7.4%;
    border-radius: 1px 1px 11px 11px;
    box-shadow: 10px 45px 55px 0 rgba(35, 38, 90, 0.22);
    overflow: hidden;
    display: none;
}



.settingsUser .list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settingsUser .list li {
    width: 100%;
    height: 100%;
    color: #5A5773;
    font-family: var(--font-mede);
    font-size: 13px;
    letter-spacing: -0.37px;
    line-height: 24px;
    opacity: 0.5;
    display: flex;
    align-items: center;
    border-top: solid 1px #E6EAEE;
    padding: 0 0 0 10%;
    transition: all .1s;
}

.settingsUser .list li:hover {
    opacity: 1;
    background-color: #E6EAEE;
    cursor: pointer;
}