:root {
    --nleft-w: 15.49vw;
    --nleft-h: 92.61vh;
    --nleft-w-calc: calc(15.49vw/100vw);
    --nleft-h-calc: calc(92.61/100)
}

.navbarLeft {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 92.61vh;
    justify-content: space-between;
    width: 15.49vw;
    background-color: #1800f02f;
    border: solid 1px black;
}

.navbarOptions {
    margin-top: 2.67vh;
}

.svgClass {
    margin: 8%;
}

.navbarOptions li {
    color: #5A5773;
    font-size: 14px;
    letter-spacing: -0.4px;
    line-height: 24px;
    opacity: 0.5046037946428571;
    text-align: left;
    border: solid 1px black;
    margin: 1px 0;
    height: 5.82vh;
    width: 68.11%;
    margin-left: 10.72%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbarLeft li:hover {
    opacity: 1;
    cursor: pointer;
}

.navbarSignOut li {
    border: solid 1px black;
    width: 23%;
    margin-left: 11.48%;
    margin-bottom: 15%;
    color: #5A5773;
    font-size: 14px;
    letter-spacing: -0.4px;
    line-height: 24px;
    opacity: 0.5046037946428571;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
